/masterthesis/
.env
**/__pycache__/
__pycache__/
# Ignore any CSV or Parquet under benchmark/CFLP
benchmark/CFLP/*.csv
benchmark/CFLP/*.parquet
# Ignore any CSV under logs/ and results/
logs/*.csv
results/*.csv